assets/**
__pycache__/**
results/**
**/**.pyc
test.py
logs/**
tmp_data/**
tmps_data/**
test_data/**
tmp/**
solutions/**
tests/**
old_data/**
questions/test.jsonl
test_data/**
tmps_data/**
.vscode/**
data1/**